 <p style="font-size:15px; color:#232323; margin-top:50px;"><b>YOUR TOP RECOMMENDATIONS</b></p>
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="font-size:14px color:"><b>Best Laptops you wanna buy</b></p>
        <p style="font-size:13px; color:#909090"><b>Yesterday 15:21</b></p>
        <p style="font-size:13px; color:#3e3e3e;"><b>You are looking for the best laptops and here we list out few based on the recommendations. <a href="#" style="color:#8f8f8f">Read More</a></b></p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p style="font-size:14px color:"><b>Best Laptops you wanna buy</b></p>
        <p style="font-size:13px; color:#909090"><b>Yesterday 5:30</b></p>
        <%= image_tag 'Laptop1.jpg',  class: "img-responsive", width: "250px", height: "200px"%>
        <p style="font-size:13px; color:#3e3e3e;"><b>You are looking for the best laptops and here we list out few based on the recommendations. <a href="#" style="color:#8f8f8f">Read More</a></b></p>

      </div>
    </div>