<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @a_brief_about_yourself.body %>
</p>

<%= link_to 'Edit', edit_a_brief_about_yourself_path(@a_brief_about_yourself) %> |
<%= link_to 'Back', a_brief_about_yourselves_path %>
